body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player{
    font-size: larger;;
    color: brown;
    margin-bottom: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 4px solid rgb(109, 196, 98);
    background-color: rgb(226, 243, 203);
    width: 500px;
    height: 550px;
}
.cell{
    background-color: rgb(205, 230, 245);
    margin: 4px;
    font-size: 100px;
}
.reset{
    background-color: rgb(199, 199, 98);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 10 8 8;
}
